footer.footer
  .footer__container
    .footer__sns
      nav.footer-sns
        .footer-sns__heading Find us on
        .footer-sns__list
          .footer-sns__item
            a.footer-sns__link(href='#dummy')
              img(src='/assets/image/icon/icon_facebook.svg', alt='')
          .footer-sns__item
            a.footer-sns__link(href='#dummy')
              img(src='/assets/image/icon/icon_line.svg', alt='')
          .footer-sns__item
            a.footer-sns__link(href='#dummy')
              img(src='/assets/image/icon/icon_twitter.svg', alt='')
          .footer-sns__item
            a.footer-sns__link(href='#dummy')
              img(src='/assets/image/icon/icon_instagram.svg', alt='')
          .footer-sns__item
            a.footer-sns__link(href='#dummy')
              img(src='/assets/image/icon/icon_youtube.svg', alt='')
    .footer__nav
      nav.footer-nav
        .footer-nav__col
          .footer-nav__item
            .footer-nav__heading Sustainability
              i.fas.fa-plus.footer-nav__heading-icon.footer-nav__heading-icon--plus
              i.fas.fa-minus.footer-nav__heading-icon.footer-nav__heading-icon--minus
            .footer-nav__list
              ul.footer-links
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Sustainable Integration
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Materiality
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Economic
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Social
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Environment
                li.footer-links__item
                  a.footer-links__link(href='#dummy') CSR Project
                li.footer-links__item
                  a.footer-links__link(href='#dummy') CSR News
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Sustainability Report
        .footer-nav__col
          .footer-nav__item
            .footer-nav__heading Careers and Scholarships
              i.fas.fa-plus.footer-nav__heading-icon.footer-nav__heading-icon--plus
              i.fas.fa-minus.footer-nav__heading-icon.footer-nav__heading-icon--minus
            .footer-nav__list
              ul.footer-links
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Sustainable Integration
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Careers
          .footer-nav__item
            .footer-nav__heading Krungthai Update
              i.fas.fa-plus.footer-nav__heading-icon.footer-nav__heading-icon--plus
              i.fas.fa-minus.footer-nav__heading-icon.footer-nav__heading-icon--minus
            .footer-nav__list
              ul.footer-links
                li.footer-links__item
                  a.footer-links__link(href='#dummy') News
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Announcement
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Promotion
        .footer-nav__col
          .footer-nav__item
            .footer-nav__heading Others
              i.fas.fa-plus.footer-nav__heading-icon.footer-nav__heading-icon--plus
              i.fas.fa-minus.footer-nav__heading-icon.footer-nav__heading-icon--minus
            .footer-nav__list
              ul.footer-links
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Rates & Fee
                li.footer-links__item
                  a.footer-links__link(href='#dummy') NPA
                li.footer-links__item
                  a.footer-links__link(href='#dummy') FAQ
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Download
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Site Recommend
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Term of Use
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Privacy Policy
        .footer-nav__col
          .footer-nav__item
            .footer-nav__heading Contact Us
              i.fas.fa-plus.footer-nav__heading-icon.footer-nav__heading-icon--plus
              i.fas.fa-minus.footer-nav__heading-icon.footer-nav__heading-icon--minus
            .footer-nav__list
              ul.footer-links
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Location
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Oversea Offices
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Contact Us
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Comment & Feedback
          .footer-nav__item
            .footer-nav__heading Disclosure
              i.fas.fa-plus.footer-nav__heading-icon.footer-nav__heading-icon--plus
              i.fas.fa-minus.footer-nav__heading-icon.footer-nav__heading-icon--minus
            .footer-nav__list
              ul.footer-links
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Privacy Policy
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Procurement and Standard Price
                li.footer-links__item
                  a.footer-links__link(href='#dummy') Supplier Registration System
    .footer__copyright This website is best viewed with Chrome, Firefox, and Safari.<br>Copyright © 2020 Krungthai Bank PCL | SWIFT CODE : krththbk
