section.sec-predict
  .sec-predict__bg.sec-predict__bg--sp
    img(src='/assets/image/predict/bg_predict_sp.svg' alt='')
  .sec-predict__bg.sec-predict__bg--pc
    img(src='/assets/image/predict/bg_predict.svg' alt='')