/* c-btn
---------------------------------------------------------- */
.c-btn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  padding: 10px 5px;
  background-color: $white;
  border-radius: 7px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.43;
  @include is-opacity;
}
