/* c-footer
---------------------------------------------------------- */
.c-footer {
  @include mq-up(md) {
    min-width: 1240px;
  }
  &__copyright {
    color: $carmine;
    font-size: 1.2rem;

    @include mq-down(md) {
      padding: 17px 0;
      background-color: $carmine;
      color: $white;
    }
  }
}
