/* c-form
---------------------------------------------------------- */
.c-form-search {
  $root: &;
  display: flex;
  flex-wrap: wrap;

  &__input {
    width: calc(100% - 60px);
    height: 60px;
    padding: 0 10px 0 20px;
    border: solid $gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    background-color: $white;
    font-family: $font-base;
    font-size: 1.8rem;
    appearance: none;

    #{$root}--small & {
      width: calc(100% - 45px);
      height: 45px;
      padding: 0 10px 0 15px;

      @include mq-down(md) {
        font-size: 1.8rem;
      }
    }

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $gray;
    }

    &:-ms-input-placeholder {
      color: $gray;
    }

    &::placeholder {
      color: $gray;
    }
  }
}
