/* c-list-links
---------------------------------------------------------- */
.c-list-links {
  $root: &;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px -10px;

  &__item {
    display: flex;
    width: 16.66%;
    margin-bottom: 10px;
    padding: 0 5px;

    @include mq-down(md) {
      width: 50%;
    }

    #{$root}--col4 & {
      @include mq-up(md) {
        width: 25%;
      }
    }

    #{$root}--col5 & {
      @include mq-up(md) {
        width: 20%;
      }
    }
  }
}

/* c-list-news
---------------------------------------------------------- */
.c-list-news {
  &__item {
    padding: 14px 0 16px;

    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }

    &:last-child {
      padding: 14px 0 0;
    }
  }

  &__detail {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__date {
    font-size: 1.6rem;
  }

  &__list-tag {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 0 18px;
  }

  &__tag {
    min-width: 60px;
    padding: 1px 5px;
    background-color: $carmine;
    border-radius: 2px;
    text-align: center;
    color: $white;
    font-size: 1.2rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &--yellow {
      background-color: $yellow;
      color: $carmine;
    }
  }

  &__link {
    position: relative;
    padding-left: 14px;
    color: $carmine;
    @include is-opacity;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 7px;
      height: 10px;
      background: url('/assets/image/common/icon_arrow_right_red_01.svg') no-repeat left top;
      background-size: 100% 100%;
    }
  }
}

/* c-list-insurance
---------------------------------------------------------- */
.c-list-insurance {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -5.5px -11px;

  @include mq-down(md) {
    justify-content: flex-start;
  }

  &__item {
    display: flex;
    width: 14.285%;
    margin-bottom: 11px;
    padding: 0 5.5px;

    @include mq-down(md) {
      width: 33.33%;
    }
  }

  &--sp-center {
    @include mq-down(md) {
      justify-content: center;
    }
  }
}
