/* c-table
---------------------------------------------------------- */
.c-table {
  width: 100%;
  table-layout: fixed;

  &__row {

    @include mq-down(md) {
      overflow: hidden;
    }
  }

  &__title {
    width: 195px;
    padding: 20px 30px 21px;
    font-weight: bold;

    @include mq-down(md) {
      padding: 16px 14px;
      width: 100%;
      float: left;
      font-size: 1.4rem;
    }
  }

  &__text {
    padding: 20px 30px 21px;

    @include mq-down(md) {
      padding: 17px 14px 16px;
      width: 100%;
      float: left;
      font-size: 1.4rem;
    }
  }
}
