/* c-text
---------------------------------------------------------- */
.c-text {
  font-size: 2rem;
  line-height: 1.8;

  @include mq-down(md) {
    font-size: 1.6rem;
    line-height: 1.75;
  }
}
