/* oooo
--------------------------------------------- */

/* oooo
--------------------------------------------- */

/* oooo
--------------------------------------------- */

/* sec-predict
--------------------------------------------- */
.sec-predict {
  background-color: #fff;

  &__bg {
    &--sp {
      @include mq-up(md) {
        display: none;
      }
    }

    &--pc {
      @include mq-down(md) {
        display: none;
      }
    }
  }
}