extends ../layouts/master.pug

block variables
  -
    const meta = {
      title: 'text',
      keyword: 'text',
      description: 'text'
    }
    const topPage = true;

block append scripts

block content
  //- Hero
  include ../sections/_hero

  //- Marble
  include ../sections/_marble

  //- Predict
  include ../sections/_predict

  //- Happynewyear
  include ../sections/_happynewyear

  //- Footer
  include ../sections/_footer
