extends ../layouts/master.pug

block variables
  -
    const meta = {
      title: 'txt',
      keyword: 'txt',
      description: 'txt'
    }
    const topPage = true;

block append scripts

block content
  .l-contents-top
