extends ../layouts/master.pug

block variables
  -
    const meta = {
      title: 'text',
      keyword: 'text',
      description: 'text'
    }
    const topPage = true;

block append scripts

block content
  //- Header
  //- include ../sections/_hero

  //- Sec2
  //-include ../sections/_sec2

  //- Sec3
  //-include ../sections/_sec3

  //- Sec4
  //-include ../sections/_sec4

  //- Footer
  include ../sections/_footer
