@font-face {
  font-family: 'krungthai_fast_bold';
  src: url('./font/krungthaifastweb-bold.woff2') format('woff2'), url('./font/krungthaifastweb-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'krungthai_fast_italic';
  src: url('./font/krungthaifastweb-italic.woff2') format('woff2'), url('./font/krungthaifastweb-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'krungthai_fast_regular';
  src: url('./font/krungthaifastweb-regular.woff2') format('woff2'), url('./font/krungthaifastweb-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}