/* Font
---------------------------------------------------------- */
$font-base: 'krungthai_fast_regular';
$font-base-italic: 'krungthai_fast_italic';
$font-base-bold: 'krungthai_fast_bold';

/* Breakpoint
---------------------------------------------------------- */
$breakpoint-sm  : 540;
$breakpoint-md  : 897;
$breakpoint-slg : 1200;
$breakpoint-lg  : 1600;
$breakpoint-xlg : 1920;

/* Color
---------------------------------------------------------- */
// Base Color
$color-black: #000;
$color-white: #fff !default;

$color-font-base: #333;
$color-font-footer: #707070;

$color-border: #e3e3e3;

